
*{
    box-sizing: border-box;
    font-family: "BLUE";
    margin:0px;
}

h1{
    margin: 10px;
    text-align:center;
    font-size: 300%;
    margin-bottom: 15px;
    background-color: #956;
}

.container{
    margin:10px;
}

.row{ 
    display:flex;
    flex-wrap:wrap;
    margin: 10px;
}

h3{
    position:absolute;
    top:-1px;
    right:-1px;
    padding:2px 15px 2px 15px;
    border:1px solid black;
    background-color: #999;
    text-align:center;
    font-size:120%;
}

p{
    position: relative;
    display:block;
    padding: 30px 10px 5px 10px;
    font-size:120%;
}

.board{
    background-color: #876;
    position: relative;
    border: 1px solid black;
    text-align:justify;
    height:100%;
}


@media (min-width: 992px){
    .sat1{
        padding:10px;
        float:left;
        width:33.33%;
    }
}


@media (max-width:767px){
    .sat3{
        padding:10px;
        float:left;
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 991px){
    .sat2 .sat3{
        padding:10px;
        float:left; 
    }
    .sat2{
        width:50%;
    }

    .sat3{
    	width:100%;
    }
    }

